@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: white; */
}

body {
    color: black;
}

.video-player {
    width: 100%;
    height: 100%;
}

.meeting-rrom {
    height: 547px;
}

.input-section--field {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

.grid-height {
    height: 400px;
}