@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: white; */
}

body {
    color: black;
}

.video-player {
    width: 300px;
    height: 300px;
}

.input-section--field {
    width: 300px;
    margin: auto 30px;
    text-align: center;
}